@media screen and (min-width: 832px) {

  #narration {
    width: 60dvw;
    height: 100dvh;
    max-width: 500px;
    top: 0;
  }

  #map {
    width: calc(100dvw - 500px);
    left: 500px;
    height: 100dvh;
    border: 0;
    z-index: 0;
  }

  .leaflet-control-attribution {
    visibility: visible;
  }

}
